body {
  font-family: 'Fanwood Text', serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: all 0.5s ease-out;
  width: 90vw;
}

.wrapper.active {
  left: 18em;
}

/*NAV BAR*/
a.menu-link {
  text-align: center;
  float: left;
  display: block;
  text-decoration: none;
  color: white;
}

a.menu-link button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: .4em;
  margin: .4em;
  background-color: rgba(0, 0, 0 , 0.8);
  border: none;
}

a.menu-link button {
  outline: none;
}

nav[role=navigation] {
  background-color: rgba(0, 0, 0, 0.8);
  clear: both;
  overflow: hidden;

  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -18em;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/*END NAV BAR*/

/*BODY*/
.lorem {
  clear: both;
  margin: 0.5em;
}

.lorem p, img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.content-block {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: justify;
}
/*END BODY*/

/*HR*/
hr {
  border: 0;
  height: 1px;
  background: #000;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*MEDIA DEPENDENCIES*/
@media screen and (min-width: 640px) {
  a.menu-link {
    display: none;
  }

  nav[role=navigation] {
    max-width: none;
    position: static;
    width: auto;
  }

  .wrapper.active {
    left: 0;
  }

  nav[role=navigation] ul {
    margin: 0;
    border: 0;
    text-align: left;
  }

  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }

  nav[role=navigation] li a {
    border: 0;
  }

  .lorem img {
    display: block;
    max-width: 50%;
    margin: 0;
    padding: 0;
  }

  .content-block {
    display: inline-block;
    clear: none;
    height: auto;
  }

  .section-one img {
    float: left;
    margin-right: 1em;
    /*max-height: 30vh;*/
  }

  .section-two img {
    float: right;
    margin-left: 1em;
    /*max-height: 300px;*/
  }

  .section-three img {
    float: left;
    margin-right: 1em;
    /*max-height: 30vh;*/
  }
}
/*END MEDIA DEPENDENCIES*/
