main {
  display: block;
  margin-top: 4em;
}

body {
  position: relative;
}

.content-block {
  position: relative;
}

.wrapper {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: all 0.5s ease-out;
  width: 90vw;
  min-height: 100vh;
}

.wrapper.active {
  left: 16em;
}
